---
import Main from '../../layouts/Main.astro';
import Inflation from '../../components/Inflation.astro';
import MaturityExamPassRate from '../../components/MaturityExamPassRate.astro';
import MaturityExamAverageGrades from '../../components/MaturityExamAverageGrades.astro';
import EconomicActivity from '../../components/EconomicActivity.astro';
import { decodeJwt } from 'jose';

export function getStaticPaths() {
  return [
    { params: { category: undefined, } },
    { params: { category: 'maturityExamPassRate', } },
    { params: { category: 'maturityExamAverageGrades', } },
    { params: { category: 'economicActivity', } },
  ];
}

const links = {
  '/dashboard/': 'Inflation',
  '/dashboard/maturityExamPassRate/': 'Maturity Exam Pass Rate',
  '/dashboard/maturityExamAverageGrades/': 'Maturity Exam Average Grades',
  '/dashboard/economicActivity/': 'Economic Activity',
};

const matches = (href) => Astro.url.pathname === href;

const file = Astro.params.category ?? 'inflation';

if (!Astro.cookies.has('accessToken')) {
    return Astro.redirect('/login/');
}

const username = (() => {
    try {
        const decoded = decodeJwt(Astro.cookies.get('accessToken').value);

        return decoded.sub;
    } catch {
        throw Astro.redirect('/logout/');
    }
})();
---

<input type="hidden" id="random-string-5" />

<script>
if (!document.getElementById('random-string-5')) {
    throw 'Astro bug wtf';
}

const selectFile = (contentType = [], multiple = false, onSelect) => {
    const input = document.createElement('input');
    input.hidden = true;
    input.type = 'file';
    input.multiple = multiple ?? false;
    input.accept = (contentType ?? []).join(",");

    input.onchange = () => {
        onSelect(multiple ? [...input.files] : input.files.item(0));
    };

    input.showPicker();
};

const refresh = () => {
    history.replaceState(null, null, location.href);
    location.href = location.href;
};

const filename = document.getElementById('filename-input').value;
const clearAllButton = document.getElementById('clear-all-button');
const importJsonButton = document.getElementById('import-json-button');
const importXmlButton = document.getElementById('import-xml-button');
const exportJsonButton = document.getElementById('export-json-button');
const exportXmlButton = document.getElementById('export-xml-button');

const buttons = [
    clearAllButton,
    importJsonButton,
    importXmlButton,
    exportJsonButton,
    exportXmlButton,
];

exportJsonButton.onclick = async () => {
    if (confirm('Exporting will consume lots of server resources. Proceed?')) {
        location.href = `/api/${filename}/exportJson`;
    }
};

exportXmlButton.onclick = async () => {
    if (confirm('Exporting will consume lots of server resources. Proceed?')) {
        location.href = `/api/${filename}/exportXml`;
    }
};

clearAllButton.onclick = async () => {
    if (confirm('Delete?')) {
        await fetch(`/api/${filename}/all`, {
            method: "DELETE",
        });

        refresh();
    }
};

const disableButtons = () => {
    for (const button of buttons) {
        button.disabled = true;
    }
};

importJsonButton.onclick = async () => {
    selectFile(['.json'], false, async (file) => {
        disableButtons();

        try {
            const response = await fetch(`/api/${filename}/importJson`, {
                method: 'POST',
                body: file,
            });

            if (response.ok) {
                alert('Import successful!');
            } else {
                alert('Import unsuccessful!');
            }
        } finally {
            refresh();
        }
    });
};

importXmlButton.onclick = async () => {
    selectFile(['.xml'], false, async (file) => {
        disableButtons();

        try {
            const response = await fetch(`/api/${filename}/importXml`, {
                method: 'POST',
                body: file,
            });

            if (response.ok) {
                alert('Import successful!');
            } else {
                alert('Import unsuccessful!');
            }
        } finally {
            refresh();
        }
    });
};
</script>

<Main title={`Dashboard (${username})`}>
  <input id="filename-input" type="hidden" value={file} />
  <a href="/logout/" slot="right">Log out</a>
  <div class="flex justify-between bg-violet-50 p-2 rounded-lg text-sm">
    {
      Object.entries(links).map(([href, title]) => (
        <a
          href={href}
          class={`${
            matches(href) ? "bg-violet-200 " : ""
          } p-2 rounded-lg no-underline`}
        >
          {title}
        </a>
      ))
    }
  </div>
  <div class="flex gap-2 text-sm">
    <button
      id="clear-all-button"
      class="bg-red-100 hover:bg-red-200 text-red-700"
    >Clear All</button>
    <span class="border"></span>
    <button
      id="import-json-button"
      class="bg-indigo-50 hover:bg-indigo-100"
    >Import JSON</button>
    <button
      id="export-json-button"
      class="bg-orange-50 hover:bg-orange-100 text-orange-700"
    >Export JSON</button>
    <span class="border"></span>
    <button
      id="import-xml-button"
      class="bg-indigo-50 hover:bg-indigo-100"
    >Import XML</button>
    <button
      id="export-xml-button"
      class="bg-orange-50 hover:bg-orange-100 text-orange-700"
    >Export XML</button>
  </div>
  <p class="rounded p-2 bg-yellow-100 hidden" id="no-data-p">No data.</p>
  {file === 'inflation' && <Inflation />}
  {file === 'maturityExamPassRate' && <MaturityExamPassRate />}
  {file === 'maturityExamAverageGrades' && <MaturityExamAverageGrades />}
  {file === 'economicActivity' && <EconomicActivity />}
</Main>
