---
import Main from '../layouts/Main.astro';

const soapBody = `<soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"
                                  xmlns:gs="http://spring.io/guides/gs-producing-web-service">
   <soapenv:Header/>
   <soapenv:Body>
      <gs:getPopulationCountRequest>
         <gs:name>Polska</gs:name>
      </gs:getPopulationCountRequest>
   </soapenv:Body>
</soapenv:Envelope>`;

const response = await fetch(`${import.meta.env.BACKEND_URL}/soap`, {
	method: 'POST',
	body: soapBody,
	headers: {
		accept: 'text/xml',
		'content-type': 'text/xml',
	},
});

const text = await response.text();

const between = (text, begin, end) => {
	const beginIndex = text.indexOf(begin);

	if (beginIndex === -1) {
		return '';
	}

	const lastCharIndex = text.indexOf(end, beginIndex + begin.length);

	if (lastCharIndex === -1) {
		return '';
	}

	return text.substring(beginIndex + begin.length, lastCharIndex);
}

const population = Number(between(text, '<ns2:populationCount>', '</ns2:populationCount>')) || 0;
---

<Main title="Hello!">
	<p>Poland population: {population}</p>
	<p><a href="/login/">Log in</a>.</p>
	<p><a href="/register/">Register</a>.</p>
</Main>
