---
import Main from '../layouts/Main.astro';

let error = '';

if (Astro.request.method === 'POST') {
    const data = await Astro.request.formData();
    const username = data.get('login');
    const password = data.get('password');

    const response = await fetch(`${import.meta.env.BACKEND_URL}/login`, {
        method: 'POST',
        headers: {
            'content-type': 'application/json',
        },
        body: JSON.stringify({
            username,
            password,
        }),
    });

    if (response.status === 403 || response.status === 401) {
        error = 'Invalid username or password';
    } else if (response.status === 200) {
        const json = await response.json();

        Astro.cookies.set('accessToken', json.accessToken, {
            sameSite: 'strict',
            httpOnly: true,
            path: '/',
        });

        return Astro.redirect('/dashboard/');
    } else {
        throw new Error(`Unexpected login status code: ${response.status}`);
    }
}

if (Astro.cookies.has('accessToken')) {
    return Astro.redirect('/dashboard/');
}
---

<Main title="Log in">
    <form class="flex flex-col gap-4" method="POST">
        <label class="flex flex-col">
            <span>Login</span>
            <input type="text" name="login" autocomplete="off" autofocus />
        </label>
        <label class="flex flex-col">
            <span>Password</span>
            <input name="password" type="password" />
        </label>
        <button>Log in</button>
        <p>{error}</p>
        <p>No account? <a href="/register/" class="text-violet-800 underline">Register here</a>.</p>
    </form>
</Main>
