---
import Main from '../layouts/Main.astro';

let errors = [];

if (Astro.request.method === 'POST') {
    const data = await Astro.request.formData();
    const username = data.get('login');
    const password = data.get('password');
    const access = data.getAll('access');
    
    const response = await fetch(`${import.meta.env.BACKEND_URL}/register`, {
        method: 'POST',
        headers: {
            'content-type': 'application/json',
        },
        body: JSON.stringify({
            username,
            password,
            access,
        }),
    });
    
    if (response.status === 400) {
        errors = await response.json();
    } else if (response.status === 200 || response.status === 201 || response.status === 204) {
        errors = ['Registered successfully'];
    } else {
        throw new Error(`Unexpected register status code: ${response.status}`);
    }
}

if (Astro.cookies.has('accessToken')) {
    return Astro.redirect('/dashboard/');
}
---

<Main title="Register">
    <form class="flex flex-col gap-4" method="POST">
        <label class="flex flex-col">
            <span>Login</span>
            <input type="text" name="login" autocomplete="off" autofocus required />
        </label>
        <label class="flex flex-col">
            <span>Password</span>
            <input name="password" type="password" required />
        </label>
        <p class="font-semibold">Request access</p>
        <label class="flex gap-4">
            <input type="checkbox" name="access" value="inflation" />
            <span>Inflation</span>
        </label>
        <label class="flex gap-4">
            <input type="checkbox" name="access" value="maturityExamPassRate" />
            <span>Maturity Exam Pass Rate</span>
        </label>
        <label class="flex gap-4">
            <input type="checkbox" name="access" value="maturityExamAverageGrades" />
            <span>Maturity Exam Average Grades</span>
        </label>
        <label class="flex gap-4">
            <input type="checkbox" name="access" value="economicActivity" />
            <span>Economic Activity</span>
        </label>
        <button>Register</button>
        {errors.map(error => <p class="rounded p-2 bg-yellow-100">{error}</p>)}
        <p>Already have an account? <a href="/login/">Login here</a>.</p>
    </form>
</Main>
