---
---

<input type="hidden" id="random-string-1" />

<script>
if (!document.getElementById('random-string-1')) {
    throw 'https://github.com/withastro/astro/issues/5739';
}

import Chart from 'chart.js/auto';

const response = await fetch('/api/inflation/all');

if (response.status === 401) {
    window.location = '/logout/';
} else if (response.status === 403) {
    document.getElementById('no-data-p').innerText = 'You do not have permission to access this file.';
    document.getElementById('no-data-p').classList.remove('hidden');
    document.getElementById('graph-controls-div').classList.add('hidden');
    throw 'no data';
}

let { inflationList } = await response.json();

const data = {
    __proto__: null,
};

inflationList = inflationList.filter(item => item.value !== 0).sort((a, b) => {
    const yearDiff = a.year - b.year;

    if (yearDiff === 0) {
        return a.month - b.month;
    }

    return yearDiff;
});

for (const item of inflationList) {
    const { territorialUnit, representationMethod, year, month, value } = item;
    const key = `${year}/${month}`;

    data[territorialUnit] ??= { __proto__: null, };
    data[territorialUnit][representationMethod] ??= { __proto__: null, };
    data[territorialUnit][representationMethod][key] = value;
}

const defaultRepresentationMethod = 'Analogiczny miesiąc poprzedniego roku = 100';

const isEmptyObject = o => {
    for (const k in o) {
        if (Object.hasOwn(o, k)) {
            return false;
        }
    }

    return true;
};

if (isEmptyObject(data)) {
    document.getElementById('no-data-p').classList.remove('hidden');
    document.getElementById('graph-controls-div').classList.add('hidden');
    throw 'no data';
}

const territorialUnitSelect = document.getElementById('territorial-unit-select');
const timeFrameSelect = document.getElementById('time-frame-select');

const chart = new Chart(document.getElementById('chart'), {
    type: 'line',
    data: {
        datasets: [],
    },
    options: {
        interaction: {
            intersect: false,
            mode: 'nearest',
            axis: 'x',
        },
        elements: {
            point: {
                radius: 1,
            },
        },
    },
});

const updateChart = () => {
    const territorialUnit = territorialUnitSelect.value;
    const timeFrame = timeFrameSelect.value;

    let filter = () => true;

    if (timeFrame === 'all-time') {
        /* default value */
    } else if (timeFrame === 'before-covid-19') {
        filter = ([key, value]) => (Number(key.split('/')[0]) < 2020);
    } else if (timeFrame === 'covid-19-and-later') {
        filter = ([key, value]) => (Number(key.split('/')[0]) >= 2020);
    } else {
        filter = () => false;
    }

    chart.data.datasets = Object.keys(data[territorialUnit]).map(representationMethod => {
        const hidden = chart.data.datasets.find(entry => entry.label === representationMethod)?.hidden;

        return {
            label: representationMethod,
            data: Object.fromEntries(Object.entries(data[territorialUnit][representationMethod]).filter(filter)),
            borderWidth: 1,
            hidden: hidden ?? representationMethod !== defaultRepresentationMethod,
        };
    });

    chart.update();
};

territorialUnitSelect.onchange = updateChart;
timeFrameSelect.onchange = updateChart;

for (const territorialUnit in data) {
    territorialUnitSelect.add(new Option(territorialUnit, territorialUnit));
}

let devicePxielRatio = window.devicePixelRatio;
window.onresize = () => {
    if (window.devicePixelRatio !== devicePxielRatio) {
        devicePxielRatio = window.devicePixelRatio;
        chart.update();
    }
};

updateChart();
</script>

<div class="flex justify-between" id="graph-controls-div">
    <label>
      <span>Territorial unit:</span>
      <select id="territorial-unit-select"></select>
    </label>
    <label>
      <span>Time frame:</span>
      <select id="time-frame-select">
        <option value="all-time" selected>All time</option>
        <option value="before-covid-19">Before COVID-19</option>
        <option value="covid-19-and-later">COVID-19 and later</option>
      </select>
    </label>
</div>
<canvas id="chart"></canvas>
