---
---

<input type="hidden" id="random-string-2" />

<script>
if (!document.getElementById('random-string-2')) {
    throw 'https://github.com/withastro/astro/issues/5739';
}

import Chart from 'chart.js/auto';

const response = await fetch('/api/maturityExamPassRate/all');

if (response.status === 401) {
    window.location = '/logout/';
} else if (response.status === 403) {
    document.getElementById('no-data-p').innerText = 'You do not have permission to access this file.';
    document.getElementById('no-data-p').classList.remove('hidden');
    document.getElementById('graph-controls-div').classList.add('hidden');
    throw 'no data';
}

let { maturityExamPassRateList } = await response.json();

const data = {
    __proto__: null,
};

maturityExamPassRateList.sort((a, b) => {
    const yearDiff = a.year - b.year;

    return yearDiff;
});

for (const item of maturityExamPassRateList) {
    const { country, year, voivodeship, status, gender, value } = item;

    data[country] ??= { __proto__: null, };
    data[country][voivodeship] ??= { __proto__: null, };
    data[country][voivodeship][`${status}/${gender}`] ??= { __proto__: null, };
    data[country][voivodeship][`${status}/${gender}`][year] = value;
}

const isEmptyObject = o => {
    for (const k in o) {
        if (Object.hasOwn(o, k)) {
            return false;
        }
    }

    return true;
};

if (isEmptyObject(data)) {
    document.getElementById('no-data-p').classList.remove('hidden');
    document.getElementById('graph-controls-div').classList.add('hidden');
    throw 'no data';
}

const countrySelect = document.getElementById('country-select');
const timeFrameSelect = document.getElementById('time-frame-select');
const voivodeshipSelect = document.getElementById('voivodeship-select');

const chart = new Chart(document.getElementById('chart'), {
    type: 'line',
    data: {},
    options: {
        interaction: {
            intersect: false,
            mode: 'nearest',
            axis: 'x',
        },
        elements: {
            point: {
                radius: 1,
            },
        },
    },
});

const updateChart = () => {
    const country = countrySelect.value;
    const timeFrame = timeFrameSelect.value;
    const voivodeship = voivodeshipSelect.value;

    let filter = () => true;

    if (timeFrame === 'all-time') {
        /* default value */
    } else if (timeFrame === 'before-covid-19') {
        filter = ([year, value]) => (Number(year) < 2020);
    } else if (timeFrame === 'covid-19-and-later') {
        filter = ([year, value]) => (Number(year) >= 2020);
    } else {
        filter = () => false;
    }

    chart.data.datasets = Object.keys(data[country][voivodeship]).map(representationMethod => {
        return {
            label: representationMethod,
            data: Object.fromEntries(Object.entries(data[country][voivodeship][representationMethod]).filter(filter)),
            borderWidth: 1,
        };
    });

    chart.update();
};

const onCountrySelect = () => {
    const country = countrySelect.value;

    voivodeshipSelect.replaceChildren();

    for (const voivodeship in data[country]) {
        voivodeshipSelect.add(new Option(voivodeship, voivodeship));
    }

    updateChart();
};

countrySelect.onchange = onCountrySelect;
timeFrameSelect.onchange = updateChart;
voivodeshipSelect.onchange = updateChart;

for (const country in data) {
    countrySelect.add(new Option(country, country));
}

let devicePxielRatio = window.devicePixelRatio;
window.onresize = () => {
    if (window.devicePixelRatio !== devicePxielRatio) {
        devicePxielRatio = window.devicePixelRatio;
        chart.update();
    }
};

onCountrySelect();
</script>

<div id="graph-controls-div" class="flex flex-col gap-4">
    <div class="flex justify-between">
        <label>
          <span>Country:</span>
          <select id="country-select"></select>
        </label>
        <label>
          <span>Time frame:</span>
          <select id="time-frame-select">
            <option value="all-time" selected>All time</option>
            <option value="before-covid-19">Before COVID-19</option>
            <option value="covid-19-and-later">COVID-19 and later</option>
          </select>
        </label>
    </div>
    <div class="flex justify-between">
        <label>
          <span>Voivodeship:</span>
          <select id="voivodeship-select"></select>
        </label>
    </div>
</div>
<canvas id="chart"></canvas>
