---
---

<input type="hidden" id="random-string-3" />

<script>
if (!document.getElementById('random-string-3')) {
    throw 'https://github.com/withastro/astro/issues/5739';
}

import Chart from 'chart.js/auto';

const response = await fetch('/api/maturityExamAverageGrades/all');

if (response.status === 401) {
    window.location = '/logout/';
} else if (response.status === 403) {
    document.getElementById('no-data-p').innerText = 'You do not have permission to access this file.';
    document.getElementById('no-data-p').classList.remove('hidden');
    document.getElementById('graph-controls-div').classList.add('hidden');
    throw 'no data';
}

let { maturityExamAverageGradesList } = await response.json();

const data = {
    __proto__: null,
};

maturityExamAverageGradesList.sort((a, b) => {
    const yearDiff = a.year - b.year;

    return yearDiff;
});

for (const item of maturityExamAverageGradesList) {
    const { year, type, gender, level, subject, value } = item;

    data[type] ??= { __proto__: null, };
    data[type][gender] ??= { __proto__: null, };
    data[type][gender][level] ??= { __proto__: null, };
    data[type][gender][level][subject] ??= { __proto__: null, };
    data[type][gender][level][subject][year] = value;
}

const isEmptyObject = o => {
    for (const k in o) {
        if (Object.hasOwn(o, k)) {
            return false;
        }
    }

    return true;
};

if (isEmptyObject(data)) {
    document.getElementById('no-data-p').classList.remove('hidden');
    document.getElementById('graph-controls-div').classList.add('hidden');
    throw 'no data';
}

const typeSelect = document.getElementById('type-select');
const timeFrameSelect = document.getElementById('time-frame-select');
const genderSelect = document.getElementById('gender-select');
const levelSelect = document.getElementById('level-select');

const chart = new Chart(document.getElementById('chart'), {
    type: 'line',
    data: {},
    options: {
        interaction: {
            intersect: false,
            mode: 'nearest',
            axis: 'x',
        },
        elements: {
            point: {
                radius: 1,
            },
        },
    },
});

const updateChart = () => {
    const type = typeSelect.value;
    const timeFrame = timeFrameSelect.value;
    const gender = genderSelect.value;
    const level = levelSelect.value;

    let filter = () => true;

    if (timeFrame === 'all-time') {
        /* default value */
    } else if (timeFrame === 'before-covid-19') {
        filter = ([year, value]) => (Number(year) < 2020);
    } else if (timeFrame === 'covid-19-and-later') {
        filter = ([year, value]) => (Number(year) >= 2020);
    } else {
        filter = () => false;
    }

    chart.data.datasets = Object.keys(data[type][gender][level]).map(representationMethod => {
        return {
            label: representationMethod,
            data: Object.fromEntries(Object.entries(data[type][gender][level][representationMethod]).filter(filter)),
            borderWidth: 1,
            hidden: true,
        };
    });

    chart.update();
};

const onTypeSelect = () => {
    const type = typeSelect.value;

    genderSelect.replaceChildren();

    for (const gender in data[type]) {
        genderSelect.add(new Option(gender, gender));
    }

    onGenderSelect();
};

const onGenderSelect = () => {
    const type = typeSelect.value;
    const gender = genderSelect.value;
    
    levelSelect.replaceChildren();
    
    for (const level in data[type][gender]) {
        levelSelect.add(new Option(level, level));
    }
    
    onLevelSelect();
};

const onLevelSelect = updateChart;

typeSelect.onchange = onTypeSelect;
genderSelect.onchange = onGenderSelect;
levelSelect.onchange = onLevelSelect;
timeFrameSelect.onchange = updateChart;

for (const type in data) {
    typeSelect.add(new Option(type, type));
}

let devicePxielRatio = window.devicePixelRatio;
window.onresize = () => {
    if (window.devicePixelRatio !== devicePxielRatio) {
        devicePxielRatio = window.devicePixelRatio;
        chart.update();
    }
};

onTypeSelect();
</script>

<div id="graph-controls-div" class="flex flex-col gap-4">
    <div class="flex justify-between">
        <label>
          <span>Type:</span>
          <select id="type-select"></select>
        </label>
        <label>
          <span>Time frame:</span>
          <select id="time-frame-select">
            <option value="all-time" selected>All time</option>
            <option value="before-covid-19">Before COVID-19</option>
            <option value="covid-19-and-later">COVID-19 and later</option>
          </select>
        </label>
    </div>
    <div class="flex gap-4">
        <label>
          <span>Gender:</span>
          <select id="gender-select"></select>
        </label>
        <label>
          <span>Level:</span>
          <select id="level-select"></select>
        </label>
    </div>
</div>
<canvas id="chart"></canvas>
