---
const { title, right } = Astro.props;
---
<html lang="pl">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{title}</title>
    <style is:global>
      @tailwind base;
      @tailwind components;
      @tailwind utilities;
      
      @layer base {
        input {
          @apply border border-slate-300 focus-visible:border-violet-200 focus-visible:outline-violet-200 focus-visible:outline focus-visible:outline-1 rounded p-2;
        }
      
        button {
          @apply bg-slate-200 font-semibold p-2 rounded-full bg-violet-50 hover:bg-violet-100 text-violet-700;
        }
      
        a {
          @apply text-violet-800 underline;
        }

        select {
          @apply bg-slate-100 p-1 border;
        }
      }
    </style>
  </head>
  <body class="p-4">
    <main class="flex flex-col gap-4 max-w-2xl mx-auto">
      <div class="flex justify-between items-center">
        <p class="font-bold text-3xl">{title}</p>
        <slot name="right" />
      </div>
      <slot />
    </main>
  </body>
</html>
